---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="whoami - Lachie McLeod">
  <h1>whoami</h1>
  <p>Product-minded software engineer.</p>
  <p>Melbourne, Australia.</p>
  <p>Tinkering, building and firing my thoughts and projects into the abyss for humans and agents alike.</p>
</BaseLayout>
