---
import BaseLayout from "../layouts/BaseLayout.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
---

<BaseLayout title="Links - Lachie McLeod">
  <h1>Links</h1>
  <ul class="social-links">
    <li>
      <a href="https://github.com/lachiem1" target="_blank" rel="me noopener noreferrer">
        <GitHubIcon />
        <span>GitHub</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lachie-mcleod1/" target="_blank" rel="me noopener noreferrer">
        <LinkedInIcon />
        <span>LinkedIn</span>
      </a>
    </li>
  </ul>
</BaseLayout>
